<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../public/styles/style.css" />
    <link rel="icon" type="png" href="../public/styles/icon.png">
    <title>Ski/Snowboarding Check List</title>

</head>
<body>
  

    <div class="banner">
      <section class="nav">
        <img src="../public/styles/logo.png"  class="logo" alt="Ski Snowboard Checklist Logo">
        <ul>
          <li><a href="index.ejs">Home Page</a></li>
          <li><a href="Gearlist.ejs">Gear List</a></li>
          <li><a href="tricklist.ejs">Trick List</a></li>
          <li><a href="feedback.ejs">Feedback</a></li>
        </ul>
      </section>

      <div id="site_content">
      <section class="content2">
        <h1>Trick List</h1>
        <p>Click the items to confirm</p>
        
        <h1>Snowboard Tricks</h1>
        <div class="group2">
        <input type="checkbox" name="Ollie" id="Ollie" value="Ollie">
        <label for="Ollie">Ollie</label><br>
        </div>

        <div class="group2">
        <input type="checkbox" name="Nollie" id="Nollie" value="Nollie">
        <label for="Nollie">Nollie</label><br>
        </div>

        <div class="group2">
        <input type="checkbox" name="Melon" id="Melon" value="Melon">
        <label for="Melon">Melon</label><br>
        </div>
        
        <div class="group2">
        <input type="checkbox" name="Nose Grab" id="Nose Grab" value="Nose Grab">
        <label for="Nose Grab">Nose Grab</label><br>
        </div> 

        <div class="group2">
        <input type="checkbox" name="50-50" id="50-50" value="50-50 Grind">
        <label for="50-50">50-50</label><br>
        </div> 

        <div class="group2">
        <input type="checkbox" name="Tail Press" id="Tail Press" value="Tail-Press">
        <label for="Tail Press">Tail Press</label><br>
        </div>

        <div class="group2">
        <input type="checkbox" name="180" id="180" value="180 spin">
        <label for="180">180</label><br>
        </div>
  

        <h1>Ski Tricks</h1>                      
        <div class="group2">
        <input type="checkbox" name="Ollie" id="Ollie2" value="Ollie">
        <label for="Ollie2">Ollie</label><br>
        </div>
  
        <div class="group2">
        <input type="checkbox" name="Nollie" id="Nollie2" value="Nollie">
        <label for="Nollie2">Nollie</label><br>
        </div>
  
        <div class="group2">
        <input type="checkbox" name="Shifty" id="Shifty" value="Shifty">
        <label for="Shifty">Shifty</label><br>
        </div>
          
        <div class="group2">
        <input type="checkbox" name="Safety Grab" id="Safety Grab" value="Safety Grab">
        <label for="Safety Grab">Safety Grab</label><br>
        </div> 
  
        <div class="group2">
        <input type="checkbox" name="50-50" id="50-502" value="50-50 grind">
        <label for="50-502">50-50</label><br>
        </div> 
  
        <div class="group2">
        <input type="checkbox" name="Tail Press" id="Tail Press2" value="Tail-Press">
        <label for="Tail Press2">Tail Press</label><br>
        </div>
  
        <div class="group2">
        <input type="checkbox" name="180" id="1802" value="180 spin">
        <label for="1802">180</label><br>
        </div>


        
        <div class="print" >
        <button onclick="window.print();"> Click here to print</button>
        </div>
        
      
    </section>
    
    <section class="sidebar2">
      <h1>Learn Tricks Here</h1>
      <a href="https://www.youtube.com/channel/UCtDdB-mu47GeMOroAQOb0Sg">Snowboard Pro Camp</a> <br>
      <a href="https://www.youtube.com/channel/UC1Ho5YvHCtyReazatbhBowA">Stomp It Tutorials</a> <br>



    </section>

    </div>
    </div>

    <footer>
      <p>Austin Radhs &copy;</p> 
    </footer>

        
</body>
</html>
